.image-gallery {
    margin-bottom: 50px;
    width: 100%;

    .image-gallery-selected {
        position: relative;
        width: 100%;
        height: 600px;

        img {
            width: 100%;
            height: 100%;
            @include object-fit(cover);
        }
    }

    .image-gallery-thumbnails {
        margin-top: 10px;
        width: 100%;
        text-align: center;

        img {
            padding: 1px;
            margin: 2px;
            display: inline-block;
            opacity: 0.5;
            width: 100px;
            height: 100px;
            @include object-fit(cover);
            transition: opacity 0.2s ease-in-out; 
            cursor: pointer;
            
            &:hover {
                opacity: 0.8;
            }

            &.active {
                padding: 0;
                opacity: 1;
                border: 1px solid #8C8A8A;

            }
        }
    }

    @include breakpoint-only(sm) {
        .image-gallery-selected {
            height: 500px;
        }

        .image-gallery-thumbnails {
            height: auto;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    @include breakpoint-only(xs) {
        .image-gallery-selected {
            height: 300px;
        }

        .image-gallery-thumbnails {
            height: auto;

            img {
                width: 60px;
                height: 60px;
            }
        }
    }
}

// Styling for specific images in the gallery
.image-gallery-selected {    
    #anderson-student-cards-large,
    #anderson-situation-cards-large,
    #anderson-iteration-large {
        @include object-fit(contain);
    }
    
    #evolved-text-large, 
    #elevate-text-large, 
    #gras-letter-large, 
    #gras-notice-large {
        @include object-fit(contain);
    }    

    #responsive-showcase-large,
    #hd-full-index-large,
    #hd-full-about-large,
    #hd-full-curriculum-large,
    #hd-cropped-index-large,
    #hd-full-schedule-large,
    #hd-cropped-curriculum-scrolled-large {
        @include object-fit(contain);
    }
}