.navbar {
    font-family: $big-john-font-stack;
    color: #333333;
    border-bottom-width: 3px;

    .navbar-brand {
        font-size: 40px;
    }

    li a {
        font-size: 17px;
        padding-left: 10px;
    }
    
    li.active {
        .nav-underline {
            width: 100%;
            margin-bottom: -2px;
            border-bottom: 2px solid rgb(162, 0, 172);
        }
    }
}