.navbar {
    font-family: $big-john-font-stack;
    color: #333333;
    border-bottom-width: 3px;

    .navbar-brand {
        font-size: 40px;
    }

    li a {
        font-size: 17px;
        padding-left: 10px;
    }
    
    $active-nav-color: $deep-purple;
    $inactive-nav-color: mix($deep-purple, #fff, 40%);

    .nav-underline {
        margin: 0 auto;
        width: 0;
        height: 4px;
        margin-bottom: -2px;
        border-bottom: 2px solid $inactive-nav-color;
        transition: width 0.15s ease-in-out;
    }

    a.active {
        .nav-underline {
            width: 95%;
            border-bottom-color: $active-nav-color;
        }
    }

    li a:not(.active):hover {
        .nav-underline {
            width: 30%;
        }        
    }
}