@import "fonts";
@import "variables";

$fa-font-path: "fonts/";
@import "font-awesome";
@import "bootstrap";

@import "mixins";

html {
    min-height: 100%;
    position: relative;
}

body {
  margin-bottom: $footer-height;
}


@import "scrollbar";
@import "navbar";
@import "portfolio-grid";@import "about";@import "contact";@import "footer";