extends ./_html5-layout.jade

block nav
    nav.navbar.navbar-default
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/index.html") mikewesthad

        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse
          ul#main-nav.nav.navbar-nav.navbar-right
            li
              a#about-link(href="/index.html") About
                .nav-underline
            li
              a#work-link(href="/work.html") Work
                .nav-underline
            //- li
            //-   a(data-ajax-link=true, href="/contact.html") Contact
            //-     .nav-underline

block footer
  footer#footer
    .container
      #border
      #copywrite &copy; Michael West Hadley 2016
      #contact-methods
        #email.contact-method
          a(href="mailto:mikewesthad@gmail.com")
            i.fa.fa-envelope
        #github.contact-method
          a(href="//github.com/mikewesthad")
            i.fa.fa-github
        #twitter.contact-method
          a(href="//twitter.com/mikewesthad") 
            i.fa.fa-twitter
        #linkedin.contact-method
          a(href="//www.linkedin.com/in/michaelwesthadley")
            i.fa.fa-linkedin

block scripts
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    // Custom scripts
    script(src="/js/libs.js")
    script(src="/js/main.js")