extend ./jade-layouts/_basic-page.jade

block content
    .container
      div.row.blog-post
        div.col-sm-4
          a(href="https://medium.com/@michaelwesthadley/modular-game-worlds-in-phaser-3-tilemaps-2-dynamic-platformer-3d68e73d494a")
            img.blog-post__thumbnail(width="100%" src="https://cdn-images-1.medium.com/max/790/1*gDH7ngacTtHrHwvP0aZz7w.gif")
        div.col-sm-8
          div.blog-post__title Modular Game Worlds in Phaser 3 (Tilemaps #2) — Dynamic Platformer
          div.blog-post__date 07.16.2018
          div.blog-post__description This is a blog post series about creating modular game worlds with tilemaps in Phaser 3. In this post, we'll create a puzzle-y platformer where the player can draw platforms to get around obstacles.
          a.blog-post__link(href="https://medium.com/@michaelwesthadley/modular-game-worlds-in-phaser-3-tilemaps-2-dynamic-platformer-3d68e73d494a") Read →
        
      div.row.blog-post
        div.col-sm-4
          a(href="https://medium.com/@michaelwesthadley/modular-game-worlds-in-phaser-3-tilemaps-1-958fc7e6bbd6")
            img.blog-post__thumbnail(width="100%" src="https://cdn-images-1.medium.com/max/588/1*Lq_shZnfjjiFEBmBOHk_qA.gif")
        div.col-sm-8
          div.blog-post__title Modular Game Worlds in Phaser 3 (Tilemaps #1) — Static Maps
          div.blog-post__date 07.04.2018
          div.blog-post__description This is a series of blog posts about creating modular worlds with tilemaps in the Phaser 3 game engine. In this first post, we'll go from zero to a Pokemon-style top down game.
          a.blog-post__link(href="https://medium.com/@michaelwesthadley/modular-game-worlds-in-phaser-3-tilemaps-1-958fc7e6bbd6") Read →
            

      