//- extend ./jade-layouts/_basic-page.jade

//- block content
//-     #contact.container

//-         #title Get in touch

//-         #subtitle If you want to collaborate, have a project in mind, or you just want to say hello

//-         #contact-methods
//-             #email.contact-method
//-                 .icon
//-                     i.fa.fa-envelope(aria-hidden="true")
//-                 //- a(href="mailto:mikewesthad@gmail.com") mikewesthad@gmail.com
//-             #github.contact-method
//-                 .icon
//-                     i.fa.fa-github(aria-hidden="true")
//-                 //- a(href="//github.com/mikewesthad") mikewesthad
//-             #twitter.contact-method
//-                 .icon
//-                     i.fa.fa-twitter(aria-hidden="true")
//-                 //- a(href="twitter.com/mikewesthad") @mikewesthad
//-             #linkedin.contact-method
//-                 .icon
//-                     i.fa.fa-linkedin(aria-hidden="true")
//-                 //- a(href="//www.linkedin.com/in/michaelwesthadley") michaelwesthadley
