extend ./jade-layouts/_basic-page.jade

block content
    #about.container
        div.row
            div.bio-picture.col-md-2.col-md-push-10.col-sm-3.col-sm-push-9.col-xs-5
                img(src="/images/mike-hadley-large.jpg")
            div.bio-statement.col-md-10.col-md-pull-2.col-sm-9.col-sm-pull-3.col-xs-12
                p Hi, I'm Mike Hadley.
                p I'm a #[a(href="/work.html?category=development" data-internal-link) developer], #[a(href="/work.html?category=teaching" data-internal-link) educator] and #[a(href="/work.html?category=art" data-internal-link) artist] who translates creative ideas into code and teaches others how to do the same. My mission is to make the world of technology more accessible – both in terms of who has access to learning materials as well as through introducing people to the creative side of technology.
                p Have a creative vision that you want to bring to life? Get in touch and let's #[a(href="/contact.html" data-internal-link) chat].