extend ./jade-layouts/_basic-page.jade

block content
    #about.container
        div.row
            div.bio-picture.col-md-2.col-md-push-10.col-sm-3.col-sm-push-9.col-xs-5
                img(src="images/mike-hadley.jpg")
            div.bio-statement.col-md-10.col-md-pull-2.col-sm-9.col-sm-pull-3.col-xs-12
                p Hi, I'm Mike Hadley.
                p I'm a developer, artist and educator based out of Chicago. I love creating, criticizing and teaching technology of all forms.
                p This site is in the process of being updated! More recent works will be added soon. Thanks for being patient.