extend ../jade-layouts/_project-page.jade

block variables
    - 
        var projectName = "blink";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "Blink";
        var projectHeadline = " is a game about a state of mind.";
        var projectDetails = [
            "2013", 
            "Basement Dwellers Show at SAIC", 
            "Unity", 
            "Tags: Art"
        ];
        var projectImageNames = [
            "basement-dwellers-shot-large.jpg", 
            "blinking-large.jpg", 
            "trees-large.jpg"
        ];


block projectDescription

    +gallery(projectImagePath, projectImageNames)
    
    +titledSection("Overview")
        p Blink is an experimental game that puts the player into a body in a forest clearing. The only thing they can do is look around and try to figure out what is happening.
        p The piece was shown during the 2013 Basement Dwellers show at the School of the Art Institute. A downloadable version of the game is available <a href="//gamejolt.com/games/blink/18933">here</a>. 
        p &ldquo;So you get every illusion of logical connection, but the actual fact is that the thoughts become more and more cockeyed until they’re completely disjointed, and beyond that, you fall asleep.&rdquo; &mdash; Richard Feynman