extend ../jade-layouts/_project-page.jade

block variables
    - 
        var projectName = "gratuitous-gram";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "The Gratuitous Gram";
        var projectHeadline = " is about what nutrition labels miss.";
        var projectDetails = [
            "2014",
            "Easton Farmer's Market",
            "Collaboration",
            "Tags: Art"
        ];
        var projectImageNames = [
            "parfait-large.jpg",
            "whole-tent-large.jpg",
            "all-dishes-large.jpg",
            "display-left-large.jpg", 
            "public-constructing-2-large.jpg",
            "public-constructing-3-large.jpg"
        ];

block projectDescription

    +gallery(projectImagePath, projectImageNames)
    
    +titledSection("Overview") 
        p The Gratuitous Gram is a food tent installation where visitors are invited to reconstruct iconic meals using nutrition labels as recipes. We provide raw ingredients for the big three macronutrients: shortening for fats, sugar for carbohydrates, and protein powder for protein. While techically edible, the resulting dishes were far from appetizing and highlight how little information the nutrition label provides. For more information, see the project's <a href="//gratuitousgram.wordpress.com/">website</a>.

    +titledSection("Installation") 
        p This piece was installated in the Easton Farmer's Market on July 14th 2014.  The installation was divided into two sections. One section had a display case with dishes reconstructed from local food establishments. The other section was a table where visitors could reconstruct their own dishses using raw ingredients and nutrition labels.

    +fullWidthSection()      
        img(src=projectImagePath+"public-constructing-large.jpg" style="width: 100%")

    +titledSection("Collaboration") 
        p The Gratuitous Gram is a collaboration with #[a(href="//sites.lafayette.edu/reynolde") Elaine Reynolds]. The 2014 installation was funded by Lafayette College's Center for Community Engagement and was run with help from Matt McGranaghan and Angela Albrecht.
