extend ../jade-layouts/_project-page.jade

block variables
    - 
        var projectName = "natural-symmetries";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "Natural Symmetries";
        var projectHeadline = " turns nature into mandalas.";
        var projectDetails = [
            "2013", 
            "C++, openFrameworks", 
            "Tags: Sketches"
        ];
        var projectImageNames = [
            "562-large.jpg",
            "144-large.jpg",
            "169-large.jpg",
            "274-large.jpg",
            "356-large.jpg",
            "479-large.jpg",
            "566-large.jpg",
            "717-large.jpg"
        ];

block projectDescription
    +titledSection("Overview") 
        p Natural Symmetries takes images of the natural world and spins them into manadalas.
        p Source imagery: #[a(href="//www.flickr.com/photos/34022876@N06/3434623631") HDR Sunset, Costa Rica], #[a(href="//www.flickr.com/photos/90509736@N05/8552198245/in/photolist-e2JfzT") HDR].

    +fullWidthSection()        
        <iframe src="https://player.vimeo.com/video/75174494" width="100%" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
