extend ../jade-layouts/_project-page.jade

block variables
    - 
        var projectName = "promise-foods";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "The Promise Apple";
        var projectHeadline = " is the first organically grown, naturally caffinated apple.";
        var projectDetails = [
            "2015 - Present",
            "Collaboration with <a href='//sites.lafayette.edu/reynolde'>Elaine Reyonlds</a>",
            "Tags: Art"
        ];
        var projectImageNames = [
            "display-9986-post-large.jpg",
            "display-9767-post-large.jpg",
            "display-9976-post-large.jpg",
            "crowd-large.jpg",
            "elevate-text-large.jpg",
            "evolved-text-large.jpg",            
            "gras-letter-large.jpg",            
            "gras-notice-large.jpg"
        ];

block projectDescription

    +gallery(projectImagePath, projectImageNames)
    
    +titledSection("Overview") 
        p The Promise Apple&reg; is an apple that combines all the benefits of your morning cup of coffee with the natural power of locally grown apples. 

        p It was created by converting a natural component of the fruit, xanthosine, into caffeine. The genes used in the genetic engineering were derived from the coffee plant. Because the caffeine is derived from a natural source, its safety is assured. It is approved by the FDA as Generally Recognized as Safe (GRAS).

        p In the spirit of organic, the Promise Apple&reg; is grown without pesticides and is harvested by hand locally in the Yakima Valley.  

        p Coming soon: #[a(href="http://promisefoods.us") promisefoods.us]

        p Contact: #[a(href="mailto:info@promisefoods.us") info@promisefoods.us]

    +titledSection("Collaboration") 
        p Promise Foods is a collaboration with #[a(href="//sites.lafayette.edu/reynolde") Elaine Reynolds].  The Promise Apple&reg; was shown from 04/25/15 - 05/13/15 at the School of the Art Institute of Chicago's MFA show, and is currently being shown from 09/17/16 - 02/26/17 at the 18th Annual Art &amp; Science Exhibition at the New York Hall of Science.