extend ../jade-layouts/_project-page.jade

block variables
    - 
        var projectName = "promise-foods";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "The Promise Apple";
        var projectHeadline = " is the first organically grown, naturally caffinated apple.";
        var projectDetails = [
            "2015 - Present",
            "SAIC MFA Show",
            "Collaboration",
            "Tags: Art"
        ];
        var projectImageNames = [
            "display-9986-post-large.jpg",
            "display-9767-post-large.jpg",
            "display-9976-post-large.jpg",
            "crowd-large.jpg",
            "elevate-text-large.jpg",
            "evolved-text-large.jpg",            
            "gras-letter-large.jpg",            
            "gras-notice-large.jpg"
        ];

block projectDescription
    +titledSection("Overview") 
        p The Promise Apple&reg; is an apple that combines all the benefits of your morning cup of coffee with the natural power of locally grown apples. 

        p It was created by converting a natural component of the fruit, xanthosine, into caffeine. The genes used in the genetic engineering were derived from the coffee plant. Because the caffeine is derived from a natural source, its safety is assured. It is approved by the FDA as Generally Recognized as Safe (GRAS).

        p In the spirit of organic, the Promise Apple&reg; is grown without pesticides and is harvested by hand locally in the Yakima Valley.  

        p Coming soon: #[a(href="//promisefoods.us") promisefoods.us]

        p Contact: #[a(href="mailto:info@promisefoods.us") info@promisefoods.us]