extend ../jade-layouts/_project-page.jade

block variables
    - 
        var projectName = "video-collapse";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "Video Collapse";
        var projectHeadline = " treats video as a source of abstract visuals.";
        var projectDetails = [
            "2013", 
            "C++, openFrameworks",
            "<a href='//github.com/mikewesthad/MovieCollapse'>Source Code</a>",
            "Tags: Sketches"
        ];
        var projectImageNames = [
            "shake-15-large.jpg",
            "shake-87-large.jpg",
            "gravity-42-large.jpg",
            "gravity-98-large.jpg"
        ];

block projectDescription

    +gallery(projectImagePath, projectImageNames)
    
    +titledSection("Overview") 
        p Video Collapse takes short scenes from film and collapses them into a single abstract representation of everything that happened in that scene.
        p Source videos: #[a(href="//vimeo.com/77111226") Shake], #[a(href="//www.youtube.com/watch?v=OiTiKOy59o4") Gravity].