extend ../jade-layouts/_project-page.jade

block variables
    - 
        var projectName = "view-history";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "[View History]";
        var projectHeadline = " reveals the hidden evolution of knowledge on Wikipedia.";
        var projectDetails = [
            "2015",
            "Data Viz Collaborative Show at SAIC",
            "Collaboration",
            "Tags: Art"
        ];
        var projectImageNames = [
            "chronology-contents-large.jpg", 
            "reading-2-large.jpg",
            "chronology-intro-large.jpg", 
            "saic-crowd-large.jpg",
            "books-large.jpg", 
            "books-holders-close-large.jpg",
            "book-cover-large.jpg", 
            "book-open-1-large.jpg",
            "book-open-2-large.jpg"
        ];

block projectDescription
    +titledSection("Overview") 
        p [View History] reveals the evolution of a controversial Wikipedia article &mdash; &ldquo;#[a(href="https://en.wikipedia.org/wiki/Global_warming") Global Warming]&rdquo; &mdash; in two ways: through the chronology of edits and through discussions between editors.
        p We think of Wikipedia pages as static articles rather than as dynamic, evolving documents. We don&rsquo;t reread articles looking for how they have changed since our last visit. Even though the revision history is publicly available, it is effectively hidden to readers. [View History] explores that hidden history, bringing it from the background to the foreground.

    +titledSection("Installation") 
        p On the left side of the installation, overlaid sheets of acrylic show the chronological development of the content of the &ldquo;Global Warming&rdquo; article from 2007 to 2014. I analyzed the article to find when each word was added. The older a word was, the farther back into the stack it was rendered.
        p In the center, three books &ndash; &ldquo;Some people dispute,&rdquo; &ldquo;wording choice&rdquo; and &ldquo;consensus view&rdquo; &ndash; record the debates and comments among individuals as the article evolved. &ldquo;Some people dispute&rdquo; collects controversial edits surrounding a strongly opinionated editor, &ldquo;wording choice&rdquo; examines how language choices reflect biases and &ldquo;consensus view&rdquo; looks at how majority and minority views get represented in Wikipedia.
        p On the right side of the installation, the three books fit into place on top of the text of the Wikipedia article, pulled from the &ldquo;Discourse about global warming&rdquo; section. The covers and titles of the books are excerpts from this section of the article.

    +fullWidthSection()      
        img(src=projectImagePath+"saic-group-large.jpg" style="width: 100%")

    +titledSection("Collaboration") 
        p [View History] was a collaboration between artists &amp; scientists. Our team consisted of Sid Benteftifa, Olivia Ching, Meghan Ryan Morris, Steph Shapiro, Julia Torres &amp; Brandon Williams.